@import url(http://fonts.googleapis.com/css?family=ABeeZee);
$abeezee: "AbeeZee", "Helvetica Neue", "Helvetica", sans-serif;

$sans: $abeezee;
$serif: $abeezee;
/*$mono: "Courier", monospace;*/
$heading-font-family: $abeezee;
$header-title-font-family: $abeezee;
$header-subtitle-font-family: $abeezee;
